<link rel="stylesheet" href="./src/css/footer.css"/>

<footer class="styles__Outer-sd0nn4-0 jXxJtb">
	<div class="styles__Grid-sd0nn4-7 ifPJeR">
		<div class="styles__GridItem-sd0nn4-8 hYSQDT">
			<a href="http://loql.ly">
				<div class="styles__Logo-sd0nn4-1 cAqtQg">
					<img src="./src/assets/logo-light.svg" alt="">
					</div>
				</a>
			</div>
			<div class="styles__GridItem-sd0nn4-8 hYSQDT">
				<div class="styles__FooterText-sd0nn4-4 fovpje">Loql is a not for profit that helps high streets find resilience through high quality, low cost digital tools that can be shared and managed by the community.</div>
			</div>
			<div class="styles__GridItem-sd0nn4-8 hYSQDT">
				<a class="MuiButtonBase-root MuiButton-root MuiButton-contained styles__FindOurMoreButton-sd0nn4-5 lbsFox" tabindex="0" aria-disabled="false" href="about">
					<span class="MuiButton-label">Find out more</span>
					<span class="MuiTouchRipple-root"></span>
				</a>
			</div>
			<div class="styles__GridItem-sd0nn4-8 hYSQDT">
				<a href="https://www.facebook.com/keepitloql" target="_blank" class="styles__SocialLink-sd0nn4-11 dLLlFd">
					<svg width="28" height="28" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 14c0 7.692 6.256 14 14 14 7.692 0 14-6.308 14-14 0-7.744-6.308-14-14-14C6.256 0 0 6.256 0 14zm11.795 8.154V14h-1.436a.22.22 0 01-.205-.206v-2.462a.22.22 0 01.205-.205h1.487v-2.41a2.999 2.999 0 013.026-3.026h2.82a.22.22 0 01.205.206v2.461a.22.22 0 01-.205.205H16c-.41 0-.77.36-.77.77v1.743h2.411a.22.22 0 01.205.205l-.205 2.462a.22.22 0 01-.205.205H15.23v8.205a.22.22 0 01-.205.205H12a.22.22 0 01-.205-.205z" fill="#2F2B27"></path>
					</svg>
				</a>
				<a href="https://twitter.com/keepitloql" target="_blank" class="styles__SocialLink-sd0nn4-11 dLLlFd">
					<svg width="28" height="28" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 14c0 7.692 6.256 14 14 14 7.692 0 14-6.308 14-14 0-7.744-6.308-14-14-14C6.256 0 0 6.256 0 14zm20.41-4.667c.564-.102 1.128-.205 1.641-.461.028 0 .04-.015.047-.013.005.002.005.017.005.064 0 .051 0 .154-.103.256-.359.513-.77.975-1.282 1.334-.103.051-.205.102-.205.205 0 2.666-.718 5.384-2.667 7.333-2.513 2.513-6.256 3.18-9.59 2.257-.615-.154-1.23-.41-1.846-.718-.102-.052-.192-.116-.282-.18-.09-.064-.18-.128-.282-.18-.051-.05-.102-.102-.051-.102H6c.923.103 1.897-.051 2.77-.359.512-.154 1.538-.513 1.845-.974-.102-.052-.256-.052-.359-.052-.923-.256-2.102-.717-2.666-2.256 0-.051 0-.103.102-.103.385.026.641.026.834.026.192 0 .32 0 .448.026a3.533 3.533 0 00-.41-.154c-1.128-.462-1.949-1.59-2.103-2.77v-.41c0-.05 0-.102.103-.05.564.307 1.23.358 1.282.358-.077-.051-.14-.115-.205-.18a1.362 1.362 0 00-.205-.179C6.46 11.077 6.103 9.18 6.872 8c.102-.103.102-.103.205 0 1.795 2.051 4.051 3.025 6.718 3.436.02 0 .032 0 .04-.006.011-.01.011-.034.011-.097a4.19 4.19 0 01.051-1.384c.103-.513.36-.923.667-1.334.308-.41.718-.718 1.128-.923.41-.256.923-.359 1.385-.41.461 0 .974.051 1.436.256.307.103.615.308.923.564l.154.154c.051.052.102.052.154.052.666-.206 1.333-.41 1.948-.77h.103v.103c-.103.359-.308.667-.564.974-.154.205-.564.667-.82.718z" fill="#2F2B27"></path>
					</svg>
				</a>
				<a href="https://www.linkedin.com/company/loql" target="_blank" class="styles__SocialLink-sd0nn4-11 dLLlFd">
					<svg width="28" height="28" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14 28C6.28 28 0 21.732 0 13.974 0 6.268 6.28 0 14 0s14 6.268 14 13.974C28.05 21.732 21.772 28 14 28zm7.978-12.947v5.24c0 .155-.103.257-.258.257h-2.727c-.155 0-.258-.102-.258-.257v-4.88c0-1.285-.463-2.158-1.595-2.158-.875 0-1.39.565-1.648 1.181-.051.206-.051.463-.051.771v5.086c0 .155-.103.257-.257.257h-2.728c-.155 0-.258-.102-.258-.257 0-.32.004-.95.008-1.74.012-2.375.031-6.184-.008-7.302 0-.154.103-.257.258-.257h2.676c.155 0 .258.103.258.257v1.08c.411-.669 1.183-1.594 2.882-1.594 2.11.052 3.706 1.388 3.706 4.316zM7.566 20.499h2.728c.154 0 .257-.103.257-.257v-8.99c0-.155-.103-.258-.257-.258H7.566c-.154 0-.257.103-.257.257v9.042c.051.103.154.206.257.206zm2.986-12.381c0 .936-.761 1.695-1.699 1.695-.938 0-1.699-.76-1.699-1.695 0-.937.76-1.696 1.699-1.696.938 0 1.699.76 1.699 1.696z" fill="#2F2B27"></path>
					</svg>
				</a>
			</div>
		</div>
		<div class="styles__GridFooter-sd0nn4-9 ceVJCa">
			<div class="styles__GridItem-sd0nn4-8 hYSQDT">
				<span class="styles__Copyright-sd0nn4-6 ztnih">©2020 Loql</span>
			</div>
			<div class="styles__GridItem-sd0nn4-8 hYSQDT">
				<div class="styles__FooterLinks-sd0nn4-10 djFaGZ">
					<span>
						<a href="https://app.termly.io/document/terms-and-conditions/f9ff0a97-03a4-49b8-aaab-94ac15fe4cb0">Terms &amp; Conditions</a>
					</span>
					<span>
						<a href="https://app.termly.io/document/privacy-policy/c50fdb8a-cd64-4af3-acd5-33a4f4132cc5">Privacy policy</a>
					</span>
					<span>
						<a href="https://app.termly.io/document/cookie-policy/6665641b-19b3-4069-95b0-3a932c60e919">Cookie policy</a>
					</span>
				</div>
			</div>
		</div>
	</footer>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCYPC3ZDN4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-KCYPC3ZDN4');
  </script>
</footer>
