<link rel="stylesheet" href="./src/css/footer.css"/>
<footer id="footer" class="footer">
  <div class="footer-wrapper">
  	<p id="footer_text">&copy;
  		<script>
    const footerText = document.createTextNode(`${new Date().getFullYear()} Loql`);
    document.getElementById('footer_text').appendChild(footerText)
  	</script>
    </p>
    <section class="desktop-footer">
      <p>
        <a href="https://app.termly.io/document/terms-and-conditions/f9ff0a97-03a4-49b8-aaab-94ac15fe4cb0" target="_blank"> Terms & Conditions</a> |
        <a href="https://app.termly.io/document/privacy-policy/c50fdb8a-cd64-4af3-acd5-33a4f4132cc5">Privacy Policy</a> |
        <a href="https://app.termly.io/document/cookie-policy/6665641b-19b3-4069-95b0-3a932c60e919" target="_blank">Cookie Policy</a>
      </p>
    </section>
  	<p>
    </p>
    <section class="mobile-footer">
      <p><a href="https://app.termly.io/document/terms-and-conditions/f9ff0a97-03a4-49b8-aaab-94ac15fe4cb0" target="_blank"> Terms & Conditions</a> </p>
      <p><a href="https://app.termly.io/document/privacy-policy/c50fdb8a-cd64-4af3-acd5-33a4f4132cc5">Privacy Policy</a></p>
      <p><a href="https://app.termly.io/document/cookie-policy/6665641b-19b3-4069-95b0-3a932c60e919" target="_blank">Cookie Policy</a></p>
    </section>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167518544-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-167518544-1');
  </script>
</footer>
