<div class="fill"></div>
<div class="header-wrapper">
  <nav class="web-nav">
    <a href="index.html">
      <img src="./src/assets/logo-dark.svg" alt="Logo" />
    </a>
  </nav>
</div>

<div class="mobile-container">
  <div id="mobile_header_wrapper" class="mobile-header-wrapper">
    <a id="burger" href="#" onclick="sideBarToggle()">
      <img id="menu_icon" src="./src/assets/menu-burger.svg" alt="burger">
    </a>
    <a href="index.html">
      <img src="./src/assets/logo-dark.svg" alt="Logo" />
    </a>
  </div>
  <div id="side_menu" class="side-menu-wrapper">


    <div class="register-wrapper">
      <a href='register.html'>Get started</a>
    </div>

    <section>
      <a href='terms&conditions.html'>Terms & Conditions</a>
      <a href='privacy.html'>Privacy</a>
      <span>&copy; 2020 Loql</span>
    </section>
  </div>
</div>
