* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100% - 180px);
  padding: 40px 0 0;
}

.footer,
.push {
  height: 50px;
}

body {
  background: #FAF6F6;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font: 18px 'Nunito Sans', sans-serif;
}

button {
  cursor: pointer
}

h1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -0.02em;
}

h2 {
  font-weight: 900;
  font-size: 35px;
  line-height: 37px;
  letter-spacing: -0.02em;
}
h3{
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #544B3F;
}

h4{
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #544B3F;
}

p {
  font-size: 18px;
  line-height: 27px;
}
