.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5;
    min-height: 370px;
}

@media screen and (min-width: 768px) {
  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .image section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 333px;
    text-align: center;
    margin: 40px;
  }
  .image img{
    width: 262px;
  }
}

.image section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 333px;
  /*text-align: center;*/
  margin: 40px;
}

.image section h1 {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -0.02em;
}

.image section p {
}

.main-wrapper {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .main-wrapper,
  .setup-wrapper,
  .demo-wrapper,
  .faq-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.demo-wrapper,
.faq-wrapper,
.setup-wrapper,
.call-wrapper {
  padding: 40px 20px;
  /*text-align: center;*/
}

.demo-wrapper p,
.faq-wrapper p {
  padding: 0 40px;
  max-width: 660px;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.demo-wrapper h-l,
.faq-wrapper h-l,
.demo-wrapper h-m,
.faq-wrapper h-s {
  padding-bottom: 8px;
  padding-top: 5px;
}

.faq-wrapper .content-copy h4 {
  color: #faf6f6;

}

.list-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.center-image {
  display: grid;
  justify-content: center;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .demo-wrapper,
  .faq-wrapper,
  .setup-wrapper {
    padding: 50px 20px;
  }

  .list-wrapper {
    flex-direction: row;
    max-width: 1024px;
  }
}

.demo-wrapper {
  background-color: #ffffff;
}

.demo-wrapper img {
  max-width: 90%;
}

.wrapper h1 {
  margin-bottom: 16px;
}

.faq-wrapper {
  /*background-color: #2f2b27;*/
  background-color: #FAF6F6;
  color: #816E68;
  font-weight: 800;
  font-size: 24px;
}

.faq-wrapper a {
  text-decoration: underline;
  color: #faf6f6;
}

.wrapper-content {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .wrapper-content {
    display: flex;
    margin: 35px 0;
    max-width: 1024px;
  }
}

.content-copy img {
  float: right;
}

@media screen and (min-width: 768px) {
  .content-copy {
    padding: 0 10px;
  }
}

.content-copy {
  padding: 0 10px;
}

.call-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #2f2b27;
  height: 230px;
  justify-content: center;
  align-items: center;
  color: #faf6f6;
}

.call-wrapper .h-xl {
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.01em;
}

.call-wrapper p {
  font-weight: normal;
  text-align: center;
}

.call-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 0.3em;
  width: 10em;
  height: 2.1em;
  border-radius: 30px;
  background-color: #6cbf84;
  color: #544b3f;

  text-decoration: none;
  font-weight: 800;
  font-size: 24px;

  transition: all ease-in 0.2s;
}

.call-wrapper a:hover {
  background-color: #544b3f;
  color: #faf6f6;
}

.setup-wrapper {
  display: grid;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #2F2B27;
}
.setup-wrapper .h-xl{
  margin-bottom: 10px;
}

.setup-wrapper img{
  width: 360px;
}

.setup-wrapper .h-l{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: -0.02em;
}
.setup-wrapper .h-m{
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
.setup-wrapper section {
  max-width: 100%;
  text-align: left;
  padding-left: 60px;
}

.setup-wrapper section p{
  font-size: 16px;
  line-height: 22px;
}


.setup-wrapper section ul {
  list-style: none;

  padding: 0;
}

@media screen and (min-width: 768px) {
  .setup-wrapper section  {
    list-style: none;
  }

  .setup-wrapper section {
    max-width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .setup-wrapper section {
    padding-left: 0px;
    margin: 20px;
    text-align: center;
  }
  .setup-wrapper .h-xl,
  .setup-wrapper .h-l{
    text-align: center;
  }
}



.setup-wrapper section ul li {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.setup-wrapper section ul li img {
  margin: 34px 0 20px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .setup-wrapper li + li {
    margin-left: 20px;
  }
}

.setup-wrapper section ul li .h-s {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;

  text-align: center;
  letter-spacing: -0.01em;
}

.setup-wrapper section ul li p {
  font-style: normal;
  text-align: center;
}

.try-demo {
  display: flex;
  justify-content: center;
  flex: 1;
}

#more,
#demo {
  display: flex;
  margin-top: 42px;
  flex: 1;
  justify-content: center;
}

#about,
#demo {
  margin-top: 25px;
  padding: 0.3em 1.2em;
  width: 10em;
  height: 2.1em;
  border-radius: 30px;
  color: inherit;
  max-width: 240px;

  text-decoration: none;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  border: 3px solid #2f2b27;
  transition: all ease-in 0.2s;
}

#about:hover,
#demo:hover {
  border-color: #6cbf84;
  color: #6cbf84;
}

.oragano-bg {
  background-color: #79D288;
}

.white-bg {
  background-color: #fff;
}

.sea-salt-bg {
  background-color: #FAF6F6;;
}

.white-bg p,
.white-bg .h-xl,
.white-bg .h-l,
.white-bg .h-m,
.sea-salt-bg p,
.sea-salt-bg .h-xl,
.sea-salt-bg .h-l,
.sea-salt-bg .h-m {
  color: #2F2B27;
}

.oregano {
  color: #75DB86 !important;
}

.white-bg figcaption,
.white-bg figcaption a{
  color: #2F2B27;
}

.collapsible {
  background-color: #fff;
  color: #2F2B27;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;

  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.active, .collapsible:hover {
  /*background-color: #555;*/
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #2F2B27;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.content p {
  padding-bottom: 20px;
}

button.collapsible{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button.collapsible:before {
  content: '\002B';
  color: #C0A9A8;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 34px;
}

button.collapsible.active:before {
  content: "\2212";
  color: #2F2B27;
}

.collapsible-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". .";
  max-width: 1000px !important;
  margin-top: 20px;
}

.setup-wrapper section.collapsible-grid-container {
  padding-left: 0 !important;
}
.collapsible-grid-wrapper {
  padding: 40px 20px;
}

@media screen and (max-width: 768px) {
  .collapsible-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
      ".";
    max-width: 1000px !important;
  }
  .content {
    margin-bottom: 10px;
    text-align: left;
  }
  .collapsible-grid-wrapper {
    padding: 40px 0px;
  }

}




.setup-wrapper-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". .";
  max-width: 1000px !important;
  margin-top: 20px;
}

.setup-wrapper-grid section{
  padding-left: 0;
  text-align: center;
}
.setup-wrapper-grid section h3,
.setup-wrapper-grid section p {
  text-align: left;
  padding: 0 20px;
}

.setup-wrapper-grid img {
  text-align: center;
  height: 130px;
  width: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .setup-wrapper-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". ";
    max-width: 1000px !important;
    margin-top: 20px;
  }
  .setup-wrapper-grid section h3,
  .setup-wrapper-grid section p {
    text-align: center;
  }

}
