<!-- OneTrust Cookies Consent Notice start -->

<script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8"
        data-domain-script="0fa08267-d238-4e87-8f5c-efe4f6be207b-test"></script>
<script type="text/javascript">
  function OptanonWrapper() {
  }
</script>
<!-- OneTrust Cookies Consent Notice end -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/src/assets/favicon.ico"/>
  <title>Loql: community commerce</title>
  <meta name="description" content="Loql"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap"
        rel="stylesheet"/>

  <!--  <link rel="stylesheet" href="./src/css/normalize.css"/>-->
  <link rel="stylesheet" href="./src/css/global.css"/>
  <link rel="stylesheet" href="./src/css/main.css"/>
  <link rel="stylesheet" href="./src/css/header.css"/>
  <link rel="stylesheet" href="./src/css/footer.css"/>
  <link rel="stylesheet" href="./src/css/home.css">

  <meta name="theme-color" content="#6CBF84"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

</head>

<body>
<% include ../partials/header.ejs %>

<div class="wrapper">
    <section class="centered">
        <h1 class="h-xl">About</h1>
        <p>
            Viable high streets, sustainable local transport and low-cost last mile delivery
        </p>
    </section>

    <br />
    <br />

    <div class="setup-wrapper">
        <h2 class="h-xl">Keeping it local</h2>

        <br />

        <div class="image">
            <img src="./src/assets/High-street.svg" alt="High-street" style="margin-top: 34px;" />
            <section>
                <p>Our local communites are much more than simple collections of homes. They are our support networks. Our culture and our heritage. But most of all they are the fabric that hold us together as a people.</p>
                <br />
                <p>
                    But these most vital of fabrics are under threat. Local retail and hospitality businesses, the beating heart of our towns and villages, face unprecedented competition from global technology platforms. Our streets are
                    filled with delivery vehicles bringing the convenience of online ordering to our doors but polluting our air as they do. And our local hubs sit dormat as people shun the pain of parking their cars in favour of working or
                    shopping from home.
                </p>
            </section>
        </div>
    </div>

    <div class="setup-wrapper sea-salt-bg">
        <h2 class="h-xl">Bringing locals together</h2>

        <br />

        <div class="image">
            <img src="./src/assets/locals-together.svg" alt="locals-together" style="margin-top: 34px;" />

            <section>
                <p>By coming together, local people and businesses have a chance to tackle these economic and environmental threats. And that’s where Loql comes in.</p>
                <br />
                <p>
                    We build online marketplaces where local businesses can easily sell their products or services to local people at low cost and without losing control over how their business runs. Very soon they will also have access to
                    a pool of electric delivery vehicles so orders reach customers in as quick and eco-friendly way as possible.
                </p>
                <br />
                <p>We’re also working to help people move locally in a more sustainble way with a fleet of electric vehicles based in town centres and at rail stations that locals can lease.</p>
            </section>
        </div>
    </div>

    <div class="setup-wrapper white-bg">
        <h2 class="h-xl">We are</h2>

        <br />

        <div class="image">
            <img src="./src/assets/logo-dark.svg" alt="logo" style="margin-top: 20px; width: 200px;" />

            <section>
                <p>Loql is a team of digital experts and local business owners focused on making a difference to our high streets. Berkhamsted is the first community we’re looking to help with many more to follow across the UK.</p>
                <br />
                <p>We’re a not for profit organisation so any money we make above our running costs is invested back into the products, services and infrastructure we provide to those communities.</p>
                <br />
                <p>Loql is registered in the UK as a company limited by guarantee (no.13036783)</p>
            </section>
        </div>
    </div>

    <div class="push"></div>
</div>


<% include ../partials/footer.ejs %>

<script src="./src/js/plugins.js"></script>
<script src="./src/js/main.js"></script>
</body>
</html>
