<!-- OneTrust Cookies Consent Notice start -->

<script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8"
        data-domain-script="0fa08267-d238-4e87-8f5c-efe4f6be207b-test"></script>
<script type="text/javascript">
  function OptanonWrapper() {
  }
</script>
<!-- OneTrust Cookies Consent Notice end -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/src/assets/favicon.ico"/>
  <title>Loql: community commerce</title>
  <meta name="description" content="Loql"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap"
        rel="stylesheet"/>

  <!--  <link rel="stylesheet" href="./src/css/normalize.css"/>-->
  <link rel="stylesheet" href="./src/css/global.css"/>
  <link rel="stylesheet" href="./src/css/main.css"/>
  <link rel="stylesheet" href="./src/css/header.css"/>
  <link rel="stylesheet" href="./src/css/footer.css"/>
  <link rel="stylesheet" href="./src/css/home.css">

  <meta name="theme-color" content="#6CBF84"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

</head>

<body>
<% include ../partials/header.ejs %>

<div class="wrapper">
  <div class="image">
    <img src="./src/assets/home-illustrations.svg" alt='Loql'/>
    <section>
      <h1>Power to the local community</h1>
      <p>
        Viable high streets, sustainable and low cost last mile delivery and transport 
      </p>
    </section>
    
  </div>

  <div class="faq-wrapper">
    <p class="centered">Loql gives local people the power to collectively tackle the biggest challenges facing their communities today</p>
</div>

  <div class="setup-wrapper">
        
        <h1>Collective community commerce</h1>
        <p>A set of powerful digital platforms, tools and services that enable local businesses to join forces to better serve local people.</p>
        <section>
        <span class="center-image"><img src="./src/assets/storekeepers.webp" alt='digital-orders' class="responsive"/></span>
      </section>
        <section>       
        <h3>A digital marketplace for the whole high street</h3>
        <p>One rich digital destination that showcases what makes the real high street so good.</p>
       <h3>Cost-effective food ordering</h3>
        <p>A full featured food ordering platform for delivery, takeaway or eat in orders.</p>
        <h3>Powerful tools for retailers</h3>
        <p>Create subscriptions, issue discounts, provide gift cards, for one store or all.</p>
      </section>
      <hr />
      
        <h1>Sustainable local logistics</h1>
        <p>A range of electric vehicles that bring people and things together in a more affordable and environmentally-friendly way</p>
        <span class="center-image"><img src="./src/assets/berko-car.webp" alt='digital-orders' class="responsive"/></span>
        <h3>Electric-powered delivery</h3>
        <p>Look out for our incredible new delivery vehicles in your high street soon!</p>
        <h3>Shared distribution</h3>
        <p>We believe that by pooling supply and demand for delivery, we can make it affordable - while rewarding drivers fairly.</p>
        <h3>Keeping locals on the move</h3>
        <p>We’re working with local and national organisations to accelerate the switch from the combustion engine.</p>
      
      </div>

  <div class="faq-wrapper">
    <h2 class="centered">Frequently asked questions</h2>
    <div class="wrapper-content">
      <div class="content-copy centered">
        <h3>How does it work?</h3>
        <p>Loql creates and integrates tools and services for communities to use together. We take the complexity out of adopting new technolgies and ways of doing things but also greatly reduce the cost by spreading it across numerous communities.</p>
        <h3>How do I join a Loql community?</h3>
        <p>We currently have a pilot community operating in Berkhamsted, Herts. If you are a business business in the town please get in touch with Berkhamsted Loql for more information about joining.</p>
        <h3>Where are you going next?</h3>
        <p>We will be looking to establish Loql communities in towns across the UK over the coming months and years. If you are interested in helping start a community in your area please contact our Communities team </p>
        <h3>What do Loql get out of it?</h3>
        <p>We’re firm believers in the power of local communities to deliver global change. In that sense, our work is hugely rewarding on a personal and collective level. We’re also a not for profit so we only take what we need to operate and any additinal income goes straight into developing even better solutions for communities.</p>
      </div>
    </div>
  </div>

  <div class="setup-wrapper">
    <h2>Why Loql?</h2>
    <div class="image">
    
    <section>
      <img src="./src/assets/pizza.webp" alt='Loql'/>
      <h3>We love all things local</h3>
      <p>Our goal is to keep local business communities going by helping to keep profits, jobs, expertise and ownership in the community.</p>
    </section>
    <section>
      <img src="./src/assets/scales.webp" alt='scales' />
      <h3>We only take what we need</h3>
      <p>Our goal is to keep local business communities going by helping to keep profits, jobs, expertise and ownership in the community.</p>
    </section>
    <section>
      <img src="./src/assets/headshots.webp" alt='people' />
      <h3>We're in this together</h3>
      <p>We believe a healthy future for economies and the planet comes not from the top but at a community level. Loql enables collective change within communities that impacts the entire planet.</p>
    </section>
<!--
    <div>
      <h2 class="spacing-b-3">Stay in the loop</h2>
    </div>
    <section>
    <p>
    We’re currently in development, so you can follow our progress on Twitter, LinkedIn, Instagram or by joining our mailing list
    </p>

    <form id="form" class="contact">
      <label>
        <input class="input-wrapper" placeholder="Your email" type="email">
      </label>
      <div class="submit-wrapper">
        <button type="submit"><span>Sign up</span></button>
      </div>
    </form>
-->
    </div>
</div>
<div class="push"></div>

<% include ../partials/footer.ejs %>

<script src="./src/js/plugins.js"></script>
<script src="./src/js/main.js"></script>
</body>
</html>
