<!-- OneTrust Cookies Consent Notice start -->

<script src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8"
        data-domain-script="0fa08267-d238-4e87-8f5c-efe4f6be207b-test"></script>
<script type="text/javascript">
  function OptanonWrapper() {
  }
</script>
<!-- OneTrust Cookies Consent Notice end -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/src/assets/favicon.ico"/>
  <title>Loql: online ordering for restaurants</title>
  <meta name="description" content="Loql"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap"
        rel="stylesheet"/>

  <!--  <link rel="stylesheet" href="./src/css/normalize.css"/>-->
  <link rel="stylesheet" href="./src/css/global.css"/>
  <link rel="stylesheet" href="./src/css/main.css"/>
  <link rel="stylesheet" href="./src/css/header.css"/>
  <link rel="stylesheet" href="./src/css/footer.css"/>
  <link rel="stylesheet" href="./src/css/home.css">

  <meta name="theme-color" content="#6CBF84"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

</head>

<body>
<% include ../partials/header.ejs %>

<div class="wrapper">
  <div class="image">

    <section>
      <h1>A brighter future for our high streets</h1>
      <p>
        We’re here to give high street businesses the resilience they need to survive and then thrive through shared digital infrastucture
      </p>
    </section>
    <img src="./src/assets/home-illustration.svg" alt='Loql'/>
  </div>

  <div class="demo-wrapper">
    <h2 class="centered">What is Loql?</h2>
    <ul class="list-wrapper list-wrapper-numbered">
      <li><span class="numbers">1</span>A digital marketplace for communities to buy directly from independent shops & restaurants</li>
      <li><span class="numbers">2</span>A set of affordable digital tools provided to these shops & restaurants to help them compete with big digital</li>
      <li><span class="numbers">3</span>A not for profit platform for innovation in our communities</li>
    </ul>
</div>

  <div class="setup-wrapper">
    <div class="image">
      <section>
        <h1>Collective community commerce</h1>
        <span class="center-image"><img src="./src/assets/digital-orders@2x.png" alt='digital-orders' class="responsive"/></span>
        <p>Loql brings local businesses and the communities they serve closer together to help build a more sustainable future for everyone.</p>
      </section>
    </div>
  </div>

  <div class="faq-wrapper">
    <h2 class="centered">About us</h2>
    <div class="wrapper-content">
      <div class="content-copy centered">
        <p>We are a not for profit team of digital experts and local business people focused on making a difference to our high streets. More about us</p>
      </div>
    </div>
  </div>

  <div class="setup-wrapper">

<div id="target">
    <iframe src="https://cdn.forms-content.sg-form.com/a4552770-849f-11ea-8db1-52a42116330f" title="register"></iframe>
</div>
<!--
    <div>
      <h2 class="spacing-b-3">Stay in the loop</h2>
    </div>
    <section>
    <p>
    We’re currently in development, so you can follow our progress on Twitter, LinkedIn, Instagram or by joining our mailing list
    </p>

    <form id="form" class="contact">
      <label>
        <input class="input-wrapper" placeholder="Your email" type="email">
      </label>
      <div class="submit-wrapper">
        <button type="submit"><span>Sign up</span></button>
      </div>
    </form>
-->
    </section>
  </div>

</div>
<div class="push"></div>

<% include ../partials/footer.ejs %>

<script src="./src/js/plugins.js"></script>
<script src="./src/js/main.js"></script>
</body>
</html>
