<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/src/assets/favicon.ico"/>
  <title>Loql: online ordering for restaurants</title>
  <meta name="description" content="Loql"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap"
        rel="stylesheet"/>

  <!--  <link rel="stylesheet" href="./src/css/normalize.css"/>-->
  <link rel="stylesheet" href="./src/css/global.css"/>
  <link rel="stylesheet" href="./src/css/main.css"/>
  <link rel="stylesheet" href="./src/css/header.css"/>
  <link rel="stylesheet" href="./src/css/footer.css"/>
  <link rel="stylesheet" href="./src/css/home.css">

  <meta name="theme-color" content="#6CBF84"/>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>

</head>

<body>
<% include ../partials/header.ejs %>


<div class="wrapper">
  <div class="image">

    <section>
      <h1>A brighter future for our high streets</h1>
      <p>
        We’re here to give high street businesses the resilience they need to survive and then thrive through shared digital infrastucture
      </p>
    </section>
    <img src="./src/assets/home-illustration.svg" alt='Loql'/>
  </div>

  <div class="demo-wrapper">
    <h2>What is Loql?</h2>
    <p>
      Our simple to use platform takes under an hour to set up
    </p>
    <div class="wrapper-content">
      <ul class="list-wrapper">
        <li>
          <h4>Quick setup</h4>
          <p>Getting set up on the platform takes minutes
          </p>
          <h4>Build your menu</h4>
          <p>Create categories, dishes, options and extras.
          </p>
          <h4>Get paid quickly</h4>
          <p>To take payments, create your own Stripe account, and see revenue go straight to your account!
          </p>
        </li>
        <li class="center-image">
          <img src="./src/assets/dashboard.png" alt='Dashboard'/>
        </li>
      </ul>
    </div>
    <h2>A quick, simple and beautiful experience for your customers</h2>
    <p>
      Loql's responsive customer ordering experience puts your customers in control.
    </p>
    <div class="wrapper-content">
      <ul class="list-wrapper">
        <li>
          <h4>Perfect online ordering at any screen size</h4>
          <p>From mobile up to tablets and laptops, no app to download.
          </p>
          <h4>Range of fulfilment options</h4>
          <p>Let your customers collect takeaways from your restaurant, or book delivery. Pay up front online or on
            collection.
          </p>
          <h4>Customise dishes</h4>
          <p>Add extras, choose options and make special requests.
          </p>
        </li>
        <li class="center-image">
          <img src="./src/assets/mob-menu.png" alt='Mobile menu'/>
        </li>
      </ul>
    </div>
    <div class='try-demo'>
      <a id='demo' href='https://app.loql.io/order/the-big-pizza-company'>
        Try the demo
      </a>
    </div>

  </div>
  <div class="faq-wrapper">
    <h2>Frequently asked questions</h2>

    <div class="wrapper-content">
      <div class="content-copy">
        <h4>How do I get set up?</h4>
        <p>Fill in the joining form, which will give you access to the dashboard. Then complete all your business
          details, set up your menu and start taking orders!
        </p>
        <h4>How do I link to the ordering platform?</h4>
        <p>From the dashboard you'll see a button that takes you to the customer view. Just copy this link and add it to
          your socials & existing website!
        </p>

      </div>
      <div class="content-copy">
        <h4>How much does it cost?</h4>
        <p>Our <a href="plans.html">affordable plans</a> are simply priced, and start at free.
        </p>
        <h4>Why so cheap? What's the catch</h4>
        <p>There is no catch. We're a group of community developers who want to empower restaurants to take online
          orders. Here's <a href="about.html">a bit more about us</a>.
        </p>

      </div>
    </div>
  </div>

  <div class="setup-wrapper">
    <div>
      <h2>Why Loql?</h2>
    </div>
    <section>
      <ul>
        <li>
          <img src="./src/assets/hearth.svg" alt='Pizza hearth'/>
          <h4>We're on your side</h4>
          <p>
            Unlike most food delivery platforms, we don’t charge high fees or have unreasonable terms.
          </p>
        </li>
        <li>
          <img src="./src/assets/balance.svg" alt='Balance'/>
          <h4>We keep it honest</h4>
          <p>
            We’re open, transparent and driven by a desire to help small businesses and communities.
          </p>
        </li>

        <li>
          <img src="./src/assets/community.svg" alt='Community'/>
          <h4>We’re a community too</h4>
          <p>
            Loql is a team of volunteers doing all this because we think it’s the right thing to do
          </p>
        </li>
      </ul>
    </section>
    <div id='more'>
      <a id='about' href='about.html'>
        More about us
      </a>
    </div>
  </div>

</div>
<div class="push"></div>
<footer id="footer" class="footer"></footer>
<script src="./src/js/plugins.js"></script>
<script src="./src/js/main.js"></script>
<script src="./src/js/header.js"></script>
</body>
</html>
